<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css" media="screen">
        <title>Business Entity Recognition</title>
</head>

<body>
    <form action="" method="post"> 
        <div class = "container">  
            <label for="text" id="title">Text zur Erkennung</label>
            <div class="campo">
                <br>
                <textarea rows="6" style="width: 26em" id="text" name="text"></textarea>
            </div>
          <select id="framework">
            <option value="1">Address</option>
            <option value="2">Email</option>
            <option value="3">Generic</option>
            <option value="4">Invoice</option>
          </select>
          <br>
          <br>
           <input type="submit" value="Check" id="submit" placeholder="Text eingeben..."/>
        </div> 
     </form>

     <script type="text/javascript" src = "./views/indexController.js"></script>

</body>
</html>