<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css" media="screen">
        <title>Business Entity Recognition</title>
</head>

<body>
    <form method="post" id="postInference" action="/postinference"> 
        <div class = "container">  
            <label for="text" id="title" name="text">Text zur Erkennung</label>
            <div class="campo">
                <br>
                <textarea rows="6" style="width: 26em" id="text" name="text"></textarea>
            </div>
          <select name="dataModel" id="framework">
            <option value="sap_address_entity">Address</option>
            <option value="sap_email_business_entity">Email</option>
            <option value="sap_generic_entities">Generic</option>
            <option value="sap_invoice_header">Invoice</option>
          </select>
          <br>
           <input type="submit" value="Check" id="submit" />
        </div> 
    </form>
    <br>
    <br>
    <div id="Response">
        <h1>RESULT:</h1>
        <p id="add_after_me">
            <% data %> </p>
    </div>
    <!-- <script type="module" src = "./indexController.js"></script> -->
</body>
</html>